# Virtual environment
venv/

# Python cache files
__pycache__/
*.py[cod]
*.so

# Environment variables
.env

# VS Code settings (optional, if using VS Code)
.vscode/

# Logs or temp files
*.log
*.tmp

# Token json
token.json

#local test files
TESTFILE.py